{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error>{{ error }}{% endif %}
  {% if not session.hash_ %}
    <p>To access Buddly, use your unique link in the email we sent you.
        If you lost that one or it's not working, enter your email below and we'll send you another.</p>

    <form action="{{ url_for('signup') }}" method=post>
      <dl>
        <dt>Email:
        <dd><input type="text" name="email">
        <dd><input type="submit" value="Send Email">
        <input type="hidden" name="action" value="remind" />
      </dl>
    </form>
  {% else %}
    <p>Hi, {{ session.name }}. Go to your <a href="{{ url_for('index') }}">events</a>!</p>
  {% endif %}
{% endblock %}
